In [8]:
import os
import pandas as pd
import numpy as np
import re

In [9]:
#df = pd.read_csv("Data/Food-Inspections-Project-Start.csv")
df = pd.read_csv("Data/Food_Inspections_OR2.csv")
#This dataframe is from the most recent OpenRefine Cleaning

In [15]:
#This function has been added to the OpenRefine Project and does not need to be run
def clean_name(name):
    name = str(name).upper()
    
    name = name.replace("'S","")
    
    name = re.sub(r' (INC|LLC|CO.|& CO.)+','',name)
    
    if re.search(r'([A-Za-z]+)(\.)([A-Za-z]+)',name):
        name = name.replace("."," ")
    else:
        name = name.replace(".","")
        
    if re.search(r'([A-Za-z]+)(,)([A-Za-z]+)',name):
        name = name.replace(","," ")
    else:
        name = name.replace(",","")
        
    name = re.sub(r' (&) .*','',name)#get rid of the "& Something" from names
    
    name = re.sub(r'(ICE CREAM)','ICECREAM',name)#catch all for icecream

    name = name.replace(" INC","").replace(" LLC","")
    name = name.strip()
    
    return name

In [152]:
# df['ADJ Name'] = df['DBA Name']
# df['ADJ Name'] = df['ADJ Name'].str.upper()
# df['ADJ Name']=df['ADJ Name'].apply(clean_name)

# Integrity Check for Unique Keys

### Checking Name to License Number
This should show if there are any instances where the License # is recorded under two different business names

In [17]:
name_col = df.columns.get_loc("DBA Name")
insp_col = df.columns.get_loc("Inspection ID")
lic_col = df.columns.get_loc("License #")
type_col = df.columns.get_loc("Inspection Type")

indict = {}
violations=[]

for x in range(0,len(df)):
    if df.iat[x,lic_col]!=0 and df.iat[x,type_col]=="License":
        if not df.iat[x,lic_col] in indict.keys():
            indict[df.iat[x,lic_col]]=[df.iat[x,insp_col],df.iat[x,adjcol]]
        else:
            if not indict[df.iat[x,lic_col]][1]==df.iat[x,adjcol]:
                violations.append([df.iat[x,lic_col],indict[df.iat[x,lic_col]],[df.iat[x,insp_col],df.iat[x,adjcol]]])
print(len(violations))
name_violations = pd.DataFrame(violations)
name_violations
#Output should be of form:
#Licence # | [Inspection ID, DBA NAME] | [Inspection ID, DBA NAME]

15

,0,1,2
0,2501800.0,"[1989855, COLD STONE CREAMERY #20658]","[1989609, COLD STONE CREAMERY #23263]"
1,2369178.0,"[2078592, MEDITERRANEAN EXPRESS]","[1561439, EXPRESS FOOD TRUCKS]"
2,2398123.0,"[1633183, RED SEA RESTAURANT]","[1506487, AZUL]"
3,2262479.0,"[2028603, LIFEWAY KEFIR SHOP]","[1453926, STARFRUIT CAFE]"
4,2369214.0,"[1559439, CESCAS MARGARITA BAR]","[1522351, DON CESARS MEXICAN GRILL]"
5,2278975.0,"[1770960, NAANSENSE FOOD TRUCK]","[1360402, CURRIED]"
6,2262479.0,"[2028603, LIFEWAY KEFIR SHOP]","[1146455, STARFRUIT CAFE]"
7,2245370.0,"[1354144, TRAVELLE]","[1139022, PACIFIC LANGHAM CHICAGOPORATION]"
8,2138503.0,"[1184231, OGDEN MARARTHON]","[1184219, OGDEN MARATHON]"
9,2120267.0,"[577651, JR BURRITOS SHACK]","[577618, JR BURRITO SHACK]"
10,2120365.0,"[1399248, TORTUGA CANTINA]","[521794, UR INN]"
11,2093141.0,"[580724, JENNY GOURMET RESTAURANT]","[580587, JEANNY GOURMET RESTAURANT]"
12,1797814.0,"[166216, SOUL VEGETERAN EASTORPORATED]","[420152, SOUL VEGETERIAN EASTORPORATED]"
13,2042660.0,"[327258, ALFREDO MEJIA]","[277092, TAQUERIA EL PRIMO]"
14,1992451.0,"[233289, SPANKY PIZZA]","[176206, NINO PIZZA]"

In [13]:
name_violations.to_csv("name_violations.csv",index=False)

In [14]:
#Integrity Check for Inspection ID
indict = {}
violations=[]
for x in range(0,len(df)):
    if not df.iat[x,0] in indict.keys():
        indict[df.iat[x,0]]=df.iat[x,1]
    else:
        violations.append([df.iat[x,0],df.iat[x,1],indict[df.iat[x,0]]])
print(len(violations))

0

In [39]:
violations

[]